.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .logo-link {
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
    width: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
  }
  
  
  .logo:hover {
    transform: scale(1.1);
  }
  
  .nav-link {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
  }
  
  
  .nav-link:hover {
    color: #004d40; 
  }
  
  
  .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #004d40;
    transition: width 0.3s ease;
    position: absolute;
    bottom: -5px;
    left: 0;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  